<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="page-title-box">
            <h4 class="page-title">Starter Page</h4>
            <ol class="breadcrumb p-0 m-0">
              <li>
                <a href="#">Codefox</a>
              </li>
              <li>
                <a href="#">Pages</a>
              </li>
              <li class="active">
                Starter Page
              </li>
            </ol>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <!-- end row -->

      <div class="row">
      <div class="col-lg-12">
          <div class="card-box">
            <h4 class="header-title m-t-0 m-b-30">Profit against players (Bar)</h4>
            <div>
              <div id="combine-chart" class="ct-chart ct-golden-section dash-chart"></div>
            </div>
          </div>
        </div>

        <div class="row">
        <div class="col-lg-12">
          <div class="card-box">
            <h4 class="header-title m-t-0 m-b-30">Bets Last Month (donut) </h4>
            <div class="">
              <div id="donut-chart" class="ct-chart ct-golden-section dash-chart"></div>
            </div>
          </div>
        </div>
      </div>
     

      <div class="row">
      <div class="col-lg-12">
        <div class="card-box">
          <h4 class="header-title m-t-0 m-b-30">Total profit per month (Bar)</h4>
          <div class="">
            <div id="roated-chart" class="ct-chart ct-golden-section dash-chart"></div>
          </div>
        </div>
      </div>
      </div>

    </div><!-- end col -->
  </div>

  <!-- end row -->


</div> <!-- container -->

</div> <!-- content -->

<footer class="footer text-right">
  2016 - 2017 © Codefox. - Coderthemes.com
</footer>


