<div id="app">

<div>
    Search by amount: <input type="text" v-model="amountFilter">
    Search by First User: <input type="text" v-model="firstUserFilter">
    Search by Second User: <input type="text" v-model="secondUserFilter">
    Search by Judge: <input type="text" v-model="judgeFilter">
    <button v-on:click="showJudge()">Judge</button>
</div>

  <h4> number of bets:{{bets.length}}</h4>


  <div v-for= "bet in modifiedBets">
   <h1> First user:{{bet.first_user.name}}</h1>
   <h3> Second user: {{bet.second_user.name}}</h3>
   <h3> Judge: {{bet.master_judge.name}}</h3>
   <h4> Amount: {{bet.amount}}</h4>
   <h4> Date: {{bet.created_at}}</h4>
   <div v-for="win in bet.wins">
       <div> <h4 v-if="win.win">Winner: {{win.name}}</h4></div>
    </div>
    <a v-bind:href="'/bets/' + bet.id ">more info</a>


    <div v-if="currentUser.id == bet.master_judge.id">
      <a href="'/judge/new">Judge this</a>
    </div>



    <div> </div>
    <div> </div>
 </div>
 <!-- <a href="/bets?type=judged">Judge</a> -->
 <!-- <div><a href="/bets?type=involved">Bets you placesd</a></div> -->
 <div><a href="/bets/new">Place new bet</a></div>
 </div>
</div>
